.DS_Store
.dart_tool/

.packages
.pub/

build/
example/ios/Podfile
example/ios/Flutter/Debug.xcconfig
example/ios/Flutter/Release.xcconfig
example/ios/Podfile.lock
example/ios/Runner.xcodeproj/project.pbxproj
example/ios/Runner.xcworkspace/contents.xcworkspacedata
android/.settings/org.eclipse.buildship.core.prefs
android/.project
android/.classpath
example/android/.project
example/android/.settings/org.eclipse.buildship.core.prefs
example/android/app/.classpath
example/android/app/.project
example/android/app/.settings/org.eclipse.buildship.core.prefs
